

::ng-deep .mat-dialog-container {
  border-radius: 10px ;
  margin-top: 35px;
  padding: 0px;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 13px 0;
  position: relative;

  &-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: rgba(10, 15, 20, 0.8);
    margin: 0;
    padding-top: 6px;
  }
}

.content {
  padding: 15px 50px;
  min-height: 320px;
}

.footer {
  display: flex;
  justify-content: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 13px;
  background: transparent;
}


.button--filled {
  color: #092257;
  padding-top: 5px;
  height: 36px;
  width: 160px;
  min-height: 0;
  display: flex;
  justify-content: center;
  background: none;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #092257;
  border-radius: 8px !important;
  margin-right: 16px;
}
.shift-card-header {
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
}

.shift-card-content {
  font-weight: 400;
  font-size: 14px;
  color: #606268;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
}

.dialog-content {
  padding-bottom: 10px;
}
