<div>
  <div class="serach-and-tags">
    <div>
      <div class="btn-group" *ngFor="let tags of tagList">
        <input type="radio" class="btn-check" name="options"
               id="enum_{{tags.tag}}" [value]="tags.tag" [(ngModel)]="selectedTags" (click)="searchByTags()"/>
        <label class="btn btn-secondary radio-button" for="enum_{{tags.tag}}" >{{tags.tag}}</label>
      </div>
      <button class="btn btn-secondary clear-button" (click)="clearSelectedTags()">
        Clear Tags
      </button>
    </div>
    <div class="search">
      <i class="search__icon material-icons">search</i>
      <label>
        <input #searchInput type="text" class="form-container__control search__input"
               (input)="search($event)"
               [placeholder]="'Search'">
      </label>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let model of models" class="col3 col4 col2 model-list">
      <div class="model_card" (click)="cardDetails(template, model)">
        <div class="d-flex justify-content-between">
          <div class="model-card-first-part col">
            <div>
              <span class="model-card-header">Name: </span>
              <span class="model-card-content">{{model.name}}</span>
            </div>
            <div class="model-card-content">
              <span class="model-card-header">Description: </span>
              <span class="model-card-content">{{model.description}}</span>
            </div>
            <div class="model-card-content">
              <span class="model-card-header">Tags: </span>
              <span class="model-card-content">{{model.tags}}</span>
            </div>
            <div class="model-card-content">
              <span class="model-card-header">State: </span>
              <span class="model-card-content-state" [ngStyle]="{'color': model.state === 'Off' ?
               '#c20d0d': (model.state === 'On' ? '#077931' : '#ad9c07')}">{{model.state}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-container">
          <div class="modal-header">
            <h5 class="modal-title pull-left">Model Gallery Details</h5>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="dialog-content">
              <span class="model-card-header">Name: </span>
              <span class="modal-item-content">{{modelDetails.name}}</span>
      </div>
      <div class="dialog-content">
        <span class="model-card-header">Description: </span>
        <span class="modal-item-content">{{modelDetails.description}}</span>
      </div>
      <div class="dialog-content">
        <span class="model-card-header">Tags: </span>
        <span class="modal-item-content">{{modelDetails.tags}}</span>
      </div>
      <div class="dialog-content">
        <span class="model-card-header">State: </span>
        <span class="modal-item-content-state" [ngStyle]="{'color': modelDetails.state === 'Off' ?
               '#c20d0d': (modelDetails.state === 'On' ? '#077931' : '#ad9c07')}">{{modelDetails.state}}</span>
      </div>
      <div class="dialog-content">
        <span class="model-card-header">Url: </span>
        <span class="modal-item-content">{{modelDetails.url}}</span>
          <button class="btn btn-outline-secondary copy-button-style" (click)="copyMessage(modelDetails.url)"
                  tooltip="click to copy">Copy</button>
      </div>
      <div class="d-flex">
        <div class="col-md-6">
          <span class="model-card-header">Request Body: </span>
          <div class="json-class ">
            <pre>{{modelDetails.requestBody | json}}</pre>
          </div>
        </div>
        <div class="col-md-6">
          <span class="model-card-header">Response Body: </span>
          <div class="json-class">
            <pre>{{modelDetails.responseBody | json}}</pre>
          </div>
        </div>
      </div>
  </div>
    <div class="model-footer">
      <div class="state-button-container">
        <button  class="button button--filled" (click)="modalRef?.hide()">
          Cancel
        </button>
        <button  class="button button--filled" (click)="changeState(modelDetails)">
          {{stateButtonText}}
        </button>
      </div>
    </div>
  </div>
</ng-template>
