:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.model_card {
  background: #FFFFFF;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 15px;
  height: 150px;
  width: 400px;
  padding-bottom: 20px;
  cursor: pointer;
  padding-right: 10px;
}

.model-card-header {
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
}

.model-card-content {
  font-weight: 400;
  font-size: 14px;
  color: #606268;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}
.model-card-content-state {
  font-weight: 600;
  font-size: 14px;
  color: #606268;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}
.modal-item-content {
  font-weight: 400;
  font-size: 14px;
  color: #606268;
  padding-top: 8px;
  white-space: normal;
  overflow: hidden;
  max-width: 240px;
}
.modal-item-content-state {
  font-weight: 600;
  font-size: 14px;
  color: #606268;
  padding-top: 8px;
  white-space: normal;
  overflow: hidden;
  max-width: 240px;
}

.square {
  width: 16px;
  height: 16px;
  background: #0EA5E9;
}

.material-icons{
  font-family: 'Material Icons', serif !important;
  background: #F7F9FC;
  border: #F7F9FC;
}
.model-card-first-part {
  padding-top: 15px;
}

button.mat-menu-item {
  font-weight: 400 !important;
  width: 180px;
  font-size: 14px;
}
button.mat-menu-item:hover {
  background-color: #4373F5;
  color: #fff !important;
}

.model-list {
  margin-bottom: 20px;
}


:host ::ng-deep  {
  .modal-content {
    border-radius: 10px !important;
  }
}

  .dialog-content {
    padding-bottom: 10px;
  }



  @media (max-width: 1440px) and (min-width: 768px) {
    .col4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  }

  @media (min-width: 1441px) {
    .col3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px)  {
    .col2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

//Search
.serach-and-tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.search {
  display: flex;
  margin-right: 18px;

  &__icon {
    position: relative;
    top: 12px;
    left: 26px;
    color:  rgba(0,0,0,0.40);;
    font-size: 20px;
    background: transparent;
  }

  &__input {
    height: 40px;
    border-radius: 8px;
    border: solid 1px #444444;
    padding: 8px 20px 8px 40px;
    background-color: #F7F9FC;
  }
}

.model-footer {
  margin-top: 20px;
  position: sticky;
  bottom: 0px;
}
.state-button {
  min-width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.state-button-container{
  display: flex;
  justify-content: space-between;
}
.button--filled {
  color: #054ce1;
  padding-top: 5px;
  margin-bottom: 10px;
  height: 36px;
  width: 100px;
  min-height: 0;
  display: flex;
  justify-content: center;
  background: none;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #054ce1;
  border-radius: 8px !important;
  margin-right: 16px;
  margin-left: 16px;
  &:hover {
    background-color: #818486;
    color: #F7F9FC;
    border: 1px solid #050505;
  }
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: 100%;
  color: var(--cui-modal-content-color, unset);
  pointer-events: auto;
  background-color: var(--cui-modal-content-bg, #fff);
  background-clip: padding-box;
  overflow-y: auto;
  height: 600px;
}

.json-class{
  height: 160px;
  overflow: auto;
  border: 1px solid #939393;
  margin-right: 10px;
  margin-top: 15px;
}
.radio-button {
  margin-right: 10px;
}

.clear-button {
  background: rgba(255, 0, 0, 0.73);
  color: #F7F9FC;
}

.copy-button {
  margin-left: 20px;

}

.copy-button-style {
  font-size: 10px;
  font-weight: 400;
  margin-left: 20px;
}
